html {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}

.resultadoFinal {
    color: white;
    padding: 3px;
}

.resultadoFinal {
    width: 150px;
    text-align: center;
    color: white;
}

.inputEnviar {
    padding: 7px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 1px solid;
}

.inputEnviar:hover {
    padding: 7px;
    color: black;
    background-color: white;
    border-radius: 10px;
    border: 1px solid;
}